
.list {
    $self: &;
    &__all-tasks{
        margin-top: -30px;
        
    }
    &__add-button{
            opacity: 0.4;
    
        &:hover{
            opacity: 1;
        }
    }
    margin-top: 20px;


    span{
        flex:1;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 160px;
        white-space: nowrap;
    }

    li {
        display: flex;
        align-items: center;
        padding: 10px 12px;
        cursor: pointer;
        margin-bottom: 3px;
        font-size: 14px;
        transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

        &:hover #{$self}__remove-icon{
            opacity: 0.2;
        }

        
        #{$self}__remove-icon{
            opacity: 0;
            transition: opacity 0.15s ease-in-out;

            &:hover{
                opacity: 0.8;
            }
        }

        &:hover{
            background: rgba(255,255,255,0.9)
        }

        &.active {
            background: #ffffff;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
            border-radius: 4px;
        }

        i {
            display: inline-flex;
            margin-right: 8px;
            
            svg {
                path{
                    fill:rgb(119, 118, 118)
                }
            }
        }

        span {
            margin-bottom: 2px;
        }

    }
}